body {
    background-image: linear-gradient(to right, rgb(167, 208, 230), rgb(57, 106, 141));
}

img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

#header {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 100px;
    margin-left: 150px;
}

#mainDiv {
    display: flex;
    justify-content: space-evenly;
}

#imagesDiv {
    display: grid;
    grid-template-columns: 105px 105px 105px 105px;
    gap: 5px;
    justify-content: center;
    padding: 20px;
    box-shadow: 8px 9px 5px 0px rgba(20, 23, 25, 0.08);
    -webkit-box-shadow: 8px 9px 5px 0px rgba(20, 23, 25, 0.08);
    -moz-box-shadow: 8px 9px 5px 0px rgba(20, 23, 25, 0.08);
}

#myDiv {
    display: flow-root;
    font-size: 30px;
    /* width: 25%; */
    gap: 10px;
    padding: 10px;
    /* margin-left: 25%;
    margin-top: 20%; */
}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF99;
    border-radius: 10px;
}

.hide {
    display: none;
    background-color: black;
    color: aliceblue;
    border-radius: 10px;
    width: 100%;
    font-size: 15px;
    height: 25px;
}

.btn {
    background-color: black;
    color: aliceblue;
    border-radius: 10px;
    width: 100%;
    font-size: 15px;
    height: 25px;
}

.show {
    background-color: black;
    color: aliceblue;
    border-radius: 10px;
    width: 100%;
    font-size: 15px;
    height: 25px;
}

#container {
    display: grid;
    align-self: center;
    /* grid-template-columns: 1fr 1fr 1fr; */
}

svg {
    position: absolute;
    z-index: -1;
}